{% extends "::base.html.twig" %}

{% block main %}
    <main role="main">
        <section class="tl-bg-gray">
            <div class="container">
                <div class="row flex-row flex-row-wrap">
                    <div class="col-sm-12">
                        <p>
                            TechLancaster started as a simple local meetup, a safe place for like-minded tech people to come together and geek out.
                            We've strived to be open, welcoming, and supportive to everyone in the community, regardless of their interest or background.
                        </p>
                        <p>
                            The past year has seen amazing growth in Lancaster's tech scene, and we believe this is only the beginning.
                            As members of the tech community, we want to support this growth and ensure the community remains a healthy, open, and welcoming
                            place for all its current and future members.
                        </p>
                        {# <a href="https://github.com/TechLancaster/community/issues" class="tl-button-light-blue" >Resources For Meetups</a> #}
                    </div>

                    {# <div class="col-sm-3 col-xs-12">
                        {% include 'social.html' %}
                    </div> #}
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <!--<a class="attention-box" href="#">
                            Starting a new meetup?  Check out our guide assembled by other local organizers.
                        </a>-->
                    </div>
                    <div class="col-sm-4">
                        <a class="attention-box" href="/resources">
                            Want to start a meetup?  We're putting together some resources for you!
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <!--<a class="attention-box" href="#">
                            Starting a new meetup?  Here are some things you should know.
                        </a>-->
                    </div>
                </div>
            </div>
        </section><!-- section.tl-bg-gray -->

        <section class="tl-bg-light-blue tl-section-cal">
            {# TODO make this a link to the google calendar #}
            <h1 class="tl-bg-gold tl-section-header" id="calendar">Community Meetups</h1>

            <div class="container">
                <div class="row tl-event-tiles">
                    {% for event in events %}
                        <article class="col-md-4 col-sm-6 tl-event-tile">
                            {% if not event.start.dateTime is empty %}
                                <time class="tl-et-date" datetime="{{ event.start.dateTime }}">{{ event.start.dateTime | date("m/d") }}</time>
                            {% elseif not event.start.date is empty %}
                                <time class="tl-et-date" datetime="{{ event.start.date }}">{{ event.start.date | date("m/d") }}</time>
                            {% endif %}

                            <h2 class="tl-et-name">{{ event.summary }}</h2>

                            <p class="tl-et-meta">
                                {% if not event.start.dateTime is empty %}
                                    <time datetime="{{ event.start.dateTime }}">{{ event.start.dateTime | date("g:ia") }}</time>
                                {% else %}
                                    All Day
                                {% endif %}
                                <br>
                                {{ event.location | raw }}
                            </p>

                            <p class="tl-et-link">
                                {#<a href="{{ link }}">{{ link | truncate(31) }}</a>#}
                                {{ event.description | raw }}
                            </p>

                            {# NOTE: this is for testing non-uniform heights in the grid
                            {% if( i % 5 == 0 ) %}
                                <p>content <br/> content <br/> content</p>
                            {%  endif %}
                            #}
                        </article>
                    {% endfor %}

                    <article class="col-md-4 col-sm-6 tl-event-tile tl-special-tile">
                        <a href="https://github.com/TechLancaster/community">Want to run a Meetup?</a>
                    </article>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
