<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Technology,Lancaster,Coding,Programming,Meetup">

    <title>Tech Lancaster</title>

    {% include 'topscripts.html' %}
</head>
<body>
    {% include 'header.html' %}

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Resources for Meetups</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://twitter.com/tech_lancaster" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="https://github.com/techlancaster" target="_blank"><i class="fa fa-github-square"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC1J672VqnvOrqZejHlE2F1g"  target="_blank"><i class="fa fa-youtube-square"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <main role="main">
        <section class="tl-bg-gray">
            <div class="container">
                <div class="row flex-row flex-row-wrap">
                    <div class="col-sm-12">
                        <p>
                            TechLancaster started as a simple local meetup, a safe place for like-minded tech people to come together and geek out.
                            We've strived to be open, welcoming, and supportive to everyone in the community, regardless of their interest or background.
                        </p>
                        <p>
                            The past year has seen amazing growth in Lancaster's tech scene, and we believe this is only the beginning.
                            As members of the tech community, we want to support this growth and ensure the community remains a healthy, open, and welcoming
                            place for all its current and future members.
                        </p>
                        {# <a href="https://github.com/TechLancaster/community/issues" class="tl-button-light-blue" >Resources For Meetups</a> #}
                    </div>

                    {# <div class="col-sm-3 col-xs-12">
                        {% include 'social.html' %}
                    </div> #}
                </div>
            </div>
        </section><!-- section.tl-bg-gray -->

        <section class="tl-bg-light-blue tl-section-cal">
            {# TODO make this a link to the google calendar #}
            <h1 class="tl-bg-gold tl-section-header">Community Meetups</h1>

            <div class="container">
                <div class="row tl-event-tiles">
                    {% for event in events %}
                    <article class="col-md-4 col-sm-6 tl-event-tile">
                        <time class="tl-et-date" datetime="{{ event.start.dateTime }}">{{ event.start.dateTime | date("m/d") }}</time>

                        <h2 class="tl-et-name">{{ event.summary }}</h2>

                        <p class="tl-et-meta">
                            <time datetime="{{ event.start.dateTime }}">{{ event.start.dateTime | date("g:ia") }}</time>
                            <br>
                            {{ event.location | raw }}
                        </p>

                        <p class="tl-et-link">
                            {#<a href="{{ link }}">{{ link | truncate(31) }}</a>#}
                            {{ event.description | raw }}
                        </p>

                        {# NOTE: this is for testing non-uniform heights in the grid
                        {% if( i % 5 == 0 ) %}
                            <p>content <br/> content <br/> content</p>
                        {%  endif %}
                        #}
                    </article>
                    {% endfor %}

                    <article class="col-md-4 col-sm-6 tl-event-tile tl-special-tile">
                        <a href="https://github.com/TechLancaster/community">Want to run a Meetup?</a>
                    </article>
                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}

    {% include 'bottomscripts.html'%}
</body>
</html>
