<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Technology,Lancaster,Coding,Programming,Meetup">

    <title>Tech Lancaster</title>

    {% include 'topscripts.html' %}
</head>
<body>
    {% include 'header.html' %}

    <main role="main">
        <section class="tl-bg-gray">
            <div class="container">
                <div class="row flex-row flex-row-wrap">
                    <div class="col-sm-9">
                        <p>
                            Bacon ipsum dolor amet sirloin ut sausage, ut boudin flank picanha ullamco minim. Pork loin alcatra dolore sirloin. Shoulder rump turducken bresaola drumstick pariatur eiusmod, sunt dolore kielbasa t-bone leberkas. Short loin magna venison doner ball tip. Lorem salami andouille dolore sunt laborum pariatur corned beef biltong pork ut. Biltong cupim tri-tip, boudin irure short loin ad jerky veniam alcatra porchetta in.
                        </p>

                        <a href="/resources" class="tl-button" >Resources For Meetups</a>
                    </div>

                    <div class="col-sm-3 col-xs-12">
                        {% include 'social.html' %}
                    </div>
                </div>
            </div>
        </section><!-- section.tl-bg-gray -->

        <section class="tl-bg-light-blue tl-section-cal">
            <h1 class="tl-bg-gold tl-section-header">Community Meetups</h1>

            <div class="container">
                <div class="row tl-event-tiles">
                    {% for i in 1..12 %}
                    <article class="col-md-4 col-sm-6 tl-event-tile">
                        <time class="tl-et-date" datetime="2015-08-16 18:00">8/16</time>

                        {# NOTE: the title should handle a max of ~50 characters to accomodate 3 lines
                        at it's smallest width (browser width of 992px). #}
                        {% set title = "Hack Night Hack Night Hack Night Hack Night Hack Night Hack Night Hack Night " %}
                        <h2 class="tl-et-name">{{ title | truncate(47) }}</h2>

                        <p class="tl-et-meta">
                            <time datetime="2015-08-16 18:00">6pm</time> | Co-modo
                        </p>

                        <p class="tl-et-link">
                            {# NOTE: the link should be truncated at ~30 characters to accomodate 1 line
                            at it's smallest width (browser width of 992px).

                            OR: we can use this regex to trim the url
                            https://regex101.com/r/wN6cZ7/40 #}
                            {% set link = "http://www.hacklancaster.net/really/long/and/unnecessary/url.html" %}
                            {#<a href="{{ link }}">{{ link | truncate(31) }}</a>#}
                            <a href="{{ link }}">{{ link }}</a>
                        </p>

                        {# NOTE: this is for testing non-uniform heights in the grid
                        {% if( i % 5 == 0 ) %}
                            <p>content <br/> content <br/> content</p>
                        {%  endif %}
                        #}
                    </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}

    {% include 'bottomscripts.html'%}
</body>
</html>
